// you can custom css vars here
:root {
    --cursor-default: url('https://cdn.jsdmirror.com/gh/MengNianxiaoyao/blogassets@main/cursor/pointer.cur'), pointer !important;
    --cursor-text: url('https://cdn.jsdmirror.com/gh/MengNianxiaoyao/blogassets@main/cursor/text.cur'), text !important;
    --cursor-pointer: url('https://cdn.jsdmirror.com/gh/MengNianxiaoyao/blogassets@main/cursor/link.cur'), pointer !important;
}