// you can custom css vars here
:root {
    --cursor-default: url('/cursor/pointer.cur'), pointer !important;
    --cursor-text: url('/cursor/text.cur'), text !important;
    --cursor-pointer: url('/cursor/link.cur'), pointer !important;
}